body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}

#chapter1Box {
  position: relative;
}

.text {
  position: absolute;
  font-family: 'Courier New', Courier, monospace, sans-serif;
  color: #333;
  /* Avoide select */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}